@import '../../../styles/utils/variables';
@import '../../../styles/utils/typography';

.button {
  display: flex;
  width: 32px;
  height: 32px;

  font-family: $Mont;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  text-decoration: none;

  background-color: $white;
  border-radius: 48px;

  transition: all 0.5s ease;

  &.default {
    border: 1px solid $icons;
  }

  &:hover {
    border: 1px solid $primary;
  }

  &.disable {
    border: 1px solid $elements;
  }
}

.icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;

  &.arrowLeft {
    background-image: url('../../../img/icons/arrow_left.svg');
  }

  &.arrowRight {
    background-image: url('../../../img/icons/arrow_right.svg');
  }

  &.arrowLeft,
  &.arrowRight {
    filter: brightness(1);

    &.disable {
      filter: brightness(0);
    }
  }

  &.plus {
    background-image: url('../../../img/icons/plus.svg');
  }

  &.minus {
    background-image: url('../../../img/icons/minus.svg');
  }

  &.plus,
  &.minus {
    filter: brightness(4);

    &.disable {
      filter: brightness(0);
    }
  }
}
