@import '../../styles/utils/mixins';
@import '../../styles/utils/variables';

.section {
  display: flex;
  justify-content: center;
}

.catalog {
  &__quantity {
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $secondary;

    @include on-tablet {
      margin-bottom: 40px;
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;

  @include on-tablet {
    justify-content: start;
    gap: 16px;
  }

  &__сontainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__description {
    color: $secondary;
    font-weight: 500;
    font-size: 12px;
    line-height: 15.34px;
  }
}

.product {
  @include pageGrid;
  margin: 24px 0;
}
