@import '../../styles/utils/variables';

.skeletonCard {
  display: flex;
  flex-direction: column;
  padding: 32px;
  max-width: 290px;
  gap: 8px;

  border: 1px solid $elements;
  border-radius: 8px;
  box-sizing: border-box;
}

.image {
  margin-bottom: 16px;
}

.description {
  display: flex;
  flex-direction: column;

  &__box {
    display: flex;
    justify-content: space-between;
  }
}

.image {
  margin-top: 0;
}




