@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.skeletonCard {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 290px;
  gap: 8px;

  border: 1px solid var(--elements-color);

  transition: $effectDuration;
  border-radius: 8px;
  box-sizing: border-box;

  @include on-desktop {
    width: 260px;
  }

  &__container {
    display: block;
    line-height: 1;
  }
}

.image {
  margin-bottom: 8px;
}

.react-loading-skeleton {
  background-color: blue !important;
}

.description {
  margin-top: 8px;
}

.button {
  margin-top: 8px;
}
