@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.container {
  display: flex;
  position: relative;
  align-items: center;
  width: 120px;
  height: 48px;

  @include on-desktop {
    height: 64px;
  }
}

.flag {
  flex: 1;
  padding: 10px 0;
  width: 8px;
  height: 5px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.en {
  background-image: url('./../../img/icons/eng.png');
}

.ua {
  background-image: url('./../../img/icons/ua.webp');
}

.separator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0.5px;
  height: 30px;

  background-color: var(--elements-color);
}

.active {
  transform: scale(1.1);
}
