@import 'styles/utils/variables';
@import 'styles/utils/typography';

.button {
  display: flex;
  width: fit-content;

  font-family: $Mont;
  align-items: center;

  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);

  transition: $effectDuration;

  &:hover {
    color: var(--primary-color);

    transition: $effectDuration;
  }

  &::before {
    content: '';
    width: 19px;
    height: 19px;
    margin-right: 4px;
    filter: brightness(0);

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../img/icons/arrow_left.svg');
  }
}
