@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.search {
  display: flex;
  border-left: 1px solid $elements;
  width: 48px;
  height: 100%;
  justify-self: right;
  cursor: pointer;

  @include on-desktop {
    width: 64px;
  }
}

.input {
  width: 100%;
  background-color: $white;
  border: none;
  padding: 30px 40px;
  outline: none;
  font-family: $Mont, sans-serif;
  font-size: 16px;
  border: 1px solid transparent;
  border: 1px solid $elements;
}

.icon {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url('./../../img/icons/search.svg');
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;

  @include on-desktop {
    width: 64px;
    height: 64px;
    background-size: 16px;
  }
}

.clear {
  position: absolute;
  right: 0;
  width: 48px;
  height: 48px;
  background-image: url('./../../img/icons/close.svg');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @include on-desktop {
    width: 64px;
    height: 64px;
    background-size: 16px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modalContent{
  overflow: auto;
  max-height: 70vh;
  height: 90vh;
  background: white;
  border-radius: 8px;
  position: relative;
  width: 80vw;
}

.results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 48px;
  border: none;
  background-color: #4219d0;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    transition: 0.3s ease;
    box-shadow: 0px 3px 13px 0px #17203166;
  }
}

.noResults {
  text-align: center;
  padding-top: 20px;
  width: 300px;
}

