@import '../../../styles/utils/variables';
@import '../../../styles/utils/typography';

.button {
  display: flex;
  width: 40px;
  height: 40px;

  font-family: $Mont;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  text-decoration: none;

  background-color: $white;
  border-radius: 48px;

  transition: all 0.5s ease;

  &::before {
    content: '';

    width: 16px;
    height: 16px;
    background-image: url('../../../img/icons/favorite_heart.svg');
  }

  &.default {
    border: 1px solid $icons;
  }

  &:hover {
    border: 1px solid $primary;
  }

  &.selected {
    border: 1px solid $elements;

    &::before {
      background-image: url('../../../img/icons/favorite_heart_active.svg');
    }
  }
}
