@import './../../../styles/utils/mixins';
@import './../../../styles/utils/variables';
@import './../../../styles/utils/typography';

.messageNotification {
  display: flex;
  position: relative;
  min-width: 200px;
  max-width: 500px;
  width: fit-content;
  height: fit-content;
  padding: 10px 16px;
  border-radius: 8px;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 8px;

  font-family: $Mont, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: $white;
  line-height: 16px;
  letter-spacing: 0.04em;

  &__success {
    background-color: $green;
    padding-left: 36px;

    &Icon {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 16px;
      height: 16px;
      background-image: url('./../../../img/icons/success.svg');
    }
  }

  &__error {
    background-color: $red;
  }
}

.lineOfDuration {
  position: absolute;
  bottom: 2px;
  left: 8px;
  right: 8px;
  height: 3px;
  overflow: hidden;
  border-radius: 2px;

  &__line {
    width: 0; /* Начальная ширина линии */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.369); /* Цвет линии */
    animation: extendLine 3000ms linear forwards;
  }
}

@keyframes extendLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
