@import '../../styles/utils/variables';

.wrapper {
  cursor: pointer;
  // display: flex;
  // justify-content: center;
}

.productCard {
  display: flex;
  flex-direction: column;
  padding: 32px;
  max-width: 290px;

  border: 1px solid $elements;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  overflow: hidden;
}

.productImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 8px;
  max-height: 100%;
}

.productImage {
  max-width: 100%;
  max-height: 170px;
}

.productDetails {
}

.productName {
  padding-top: 16px;
  margin-bottom: 8px;
  line-height: 21px;

  font-size: 14px;
  font-weight: 600;
}

.productPrice {
  display: flex;
  gap: 8px;

  margin-bottom: 8px;

  font-size: 22px;
}

.productDiscount {
  color: $primary;

  font-weight: 800;
  line-height: 30.8px;
}

.productFullPrice {
  color: $secondary;

  font-weight: 600;
  line-height: 28.12px;
  text-decoration: line-through;
}

.underline {
  margin-bottom: 8px;

  width: 100%;
  height: 1px;
  background-color: $icons;
}

.productDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 8px 0;
  margin-bottom: 8px;
}

.productDescriptionBox {
  display: flex;
  justify-content: space-between;

  font-weight: 600; // font-weight: 700;
  font-size: 12px;
  line-height: 15.34px;
}

.productDescriptionTitle {
  color: $secondary;
}

.productDescriptionValue {
  color: $primary;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
