@import 'styles/utils/variables';
@import 'styles/utils/mixins';

.wrapper {
  cursor: pointer;
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 290px;
  box-sizing: border-box;
  // width: 260px; // ?

  padding: 32px;
  border: 1px solid var(--elements-color);
  background-color: var(--card--bg-color);

  border-radius: 8px;
  overflow: hidden;

  transition: $effectDuration;

  &:hover {
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--card--bg-hover-color);
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;
    height: 196px;

    &_img {
      max-width: 100%;
      max-height: 170px;
    }
  }
}

.details {
  &__name {
    height: 58px;
    padding-top: 16px;
    margin-bottom: 8px;
    line-height: 21px;

    font-size: 14px;
    font-weight: 600;

    color: var(--primary-color);
    transition: $effectDuration;
  }
}

.price {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;

  font-size: 22px;

  &__discount {
    color: var(--primary-color);

    transition: $effectDuration;

    font-weight: 800;
    line-height: 30.8px;
  }

  &__full {
    color: var(--secondary-color);

    transition: $effectDuration;

    font-weight: 600;
    line-height: 28.12px;
    text-decoration: line-through;
  }
}

.underline {
  margin-bottom: 8px;

  width: 100%;
  height: 1px;
  background-color: var(--icons-color);

  transition: $effectDuration;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 8px 0;
  margin-bottom: 8px;

  &__container {
    display: flex;
    justify-content: space-between;

    font-weight: 600;
    font-size: 12px;
    line-height: 15.34px;
  }
}

.info {
  &__title {
    color: var(--secondary-color);

    transition: $effectDuration;
  }

  &__value {
    color: var(--primary-color);

    transition: $effectDuration;
  }
}

.buttons__container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
