@import '../../styles/utils/variables';

.wrapper {
}

.productCard {
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 240px;
  border: 1px solid $elements;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productImage {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.productDetails {
}

.productName {
  padding-top: 16px;
  margin-bottom: 8px;
  font-size: 18px;
}

.productPrice {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;

  font-size: 22px;
}

.productFullPrice {
  color: $primary;

  font-weight: 800;
  line-height: 30.8px;
}

.productDiscount {
  color: $secondary;

  font-weight: 600;
  line-height: 28.12px;
}

.underline {
  margin-bottom: 8px;

  width: 100%;
  height: 1px;
  background-color: $icons;
}

.productDescription {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
  margin-bottom: 8px;
}

.productDescriptionBox {
  display: flex;
  justify-content: space-between;

  font-weight: 700; // font-weight: 700;
  font-size: 12px;
  line-height: 15.34px;
}

.productDescriptionTitle {
  color: $secondary;
}

.productDescriptionValue {
  color: $primary;
}

.buttonBox {
  display: flex;
  justify-content: space-between;
}
