@import 'styles/utils/variables';
@import 'styles/utils/typography';

.color__сontainer {
  display: inline-block;
}

.button {
  display: flex;
  width: 32px;
  height: 32px;

  font-family: $Mont;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  text-decoration: none;
  border-radius: 48px;
  background-color: $white;

  transition: all 0.5s ease;

  &::before {
    content: '';
    position: absolute;

    width: 26px;
    height: 26px;

    border-radius: 36px;
    background-color: var(--bg-color);
  }

  &.default {
    color: $primary;
    border: 1px solid $icons;
  }

  &:hover, &.selected {
    border: 1px solid $primary;
  }
}
