/* #region general */

$accent: #4219D0;
$secondary-accent: #F4BA47;
$primary: #0F0F11;
$secondary: #89939A;
$icons: #B4BDC3;
$elements: #E2E6E9;
$hover-color: #FAFBFC;
$background-color: #FAFBFC;
$white: #FFFFFF;
$green: #27AE60;
$red: #EB5757;
$Mont: 'Mont';

/* #endregion */

$effectDuration: 0.3s;

/* #region header */

$header-height-mobile: 48px;
$header-height-desktop: 64px;

/* #endregion */
