/* #region general */

$background-color: #fafbfc;
$white: #ffffff;
$green: #27ae60;
$red: #eb5757;
$Mont: 'Mont';

/* #endregion */

$effectDuration: 0.3s;

/* #region header */

$header-height-mobile: 48px;
$header-height-desktop: 64px;

/* #endregion */
