@import '../../styles/utils/mixins';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 16px 64px;

  @include on-tablet {
    padding: 24px 24px 64px;
  }

  @include on-desktop {
    padding: 24px 32px 80px;
  }
}
