@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';
@import '../../styles/utils/normalize';

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid $elements;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @include on-tablet {
      gap: 24px;
    }
  }

  &__logo {
    display: flex;
    padding: 13px 16px;

    @include on-tablet {
      padding: 18px 24px;
    }
  }

  &__img {
    @include on-desktop {
      width: 80px;
      height: auto;
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    @include on-desktop {
      gap: 64px;
    }
  }

  &__nav_link {
    display: flex;
    position: relative;
    align-items: center;

    height: 48px;

    color: $secondary;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    size: 12px;


    @include on-desktop {
      height: 64px;
    }

    @include on-mobile {
      display: none;
    }
  }
}

.is_active {
  color: $primary;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 3px;
    content: '';

    background-color: $primary;
  }
}

.right_side {
  display: flex;
  justify-content: end;
}
