@import 'styles/utils/variables';
@import 'styles/utils/mixins';
@import 'styles/utils/normalize';

.header {
  display: flex;
  position: fixed;
  height: 48px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid $elements;
  background-color: $white;
  z-index: 3;

  @include on-desktop {
    height: 64px;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 16px;

    @include on-tablet {
      gap: 24px;
    }
  }

  &__logo {
    display: flex;
    padding: 13px 16px;

    @include on-tablet {
      padding: 24px;
      padding-bottom: 20px;
    }

    @include on-mobile {
      padding: 24px;
    }
  }

  &__img {
    @include on-desktop {
      width: 80px;
      height: auto;
    }

    @include on-tablet {
      width: 64px;
      height: auto;
    }

    @include on-mobile {
      width: 64px;
      height: auto;
    }
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    @include on-desktop {
      gap: 64px;
    }

  }

  &__nav_link {
    display: flex;
    position: relative;
    align-items: center;

    height: 48px;
    box-sizing: border-box;
    color: $secondary;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    display: none;

    @include on-desktop {
      height: 64px;
      display: flex;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 3px;
      background-color: black;
      transition: width 0.4s;
    }

    &:hover:not(.is_active)::before {
      width: 100%;
    }

    &.active::before {
      width: 100%;
    }
  }
}

.is_active {
  color: $primary;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 3px;
    content: '';

    background-color: $primary;
  }
}

.right_side {
  display: flex;
  justify-content: end;
}

.menus {
  width: 48px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  appearance: none;
  border: none;
  background: none;
  appearance: none;
  border-left: 1px solid $elements;

  @include on-tablet {
  display: flex;
  }

  @include on-mobile {
    display: flex;
  }

  @include on-desktop {
    display: none;
  }
}

.menus__logo {
  width: 14px;
  height: 10px;
}

.favorites {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 64px;
  border-left: 1px solid $elements;
  display: none;

  @include on-desktop {
   width: 64px;
   height: 64px;
   display: flex;
  }

}

.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  border-left: 1px solid $elements;
  transition: border-bottom 0.3s;
  display: none;

  @include on-desktop {
   width: 64px;
   height: 64px;
   display: flex;
  }
}

@include on-desktop {
  .favorites {
    height: 64px;
    width: 64px;
  }

  .cart {
    height: 64px;
    width: 64px;
  }


}

.cartIconContainer {
  position: relative;
}

.cartItemCount {
  right: 14px;
  position: absolute;
  top: -7.5px;
  right: -8px;
  background-color: #eb5757;
  color: white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
}

.favoritesIconContainer {
  position: relative;
}

.favoritesItemCount {
  right: 14px;
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #eb5757;
  color: white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
}

.styles.favorites.is_active {
  border-bottom: 1px solid $elements;
}

.navBarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
  transition: opacity 0.3s, visibility 0.3s;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
}

.menu {
  font-family: 'Mont-Bold';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #FFFFFF;
  font-weight: 800;
  transition: transform 1s ease;
  transform: translateY(0%);
  font-size: 12px;
}

.menu--closed {
  transform: translateY(-100%);
}

.menu__logo {
  width: 96px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo {
  width: 64px;
  height: 28px;
  padding-left: 16px;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E2E6E9;
  height: 48px;
}

.menu__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  border-left: 1px solid #E2E6E9;
}

.close {
  width: 20px;
  height: 20px;
}

.nav {
  width: 100%;
  padding: 24px  0 16px;
  display: flex;
  justify-content: center;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.nav__list a {
  text-decoration: none;
  color: #89939A;
  font-size: 12px;
  line-height: 11px;
  font-weight: 800px;

  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s ease;

  &:hover {
    color: black;
    border-bottom: 2px solid black;
  }
}

.nav_link {
  text-decoration: none;
  color: black;
  font-size: 12px;
  line-height: 11px;
}

.nav__bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E2E6E9;
  height: 48px;
}

.nav__favorites,
.nav__cart {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #E2E6E9;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;

  &:hover {
    border-bottom: 4px solid black;
  }
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navBarWrapper {
  animation: slideInFromRight 0.5s forwards;
  transform: translateX(0%);
}

.language_switcher {
  margin-right: 15px;

  @include on-desktop {
    margin-right: 25px;
  }
}
