@import 'styles/utils/variables';
@import 'styles/utils/typography';

.button {
  box-sizing: border-box;
  display: flex;

  width: 100%;

  font-family: $Mont;
  font-size: 14px;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  text-decoration: none;

  border-radius: 48px;

  transition: all 0.5s ease;

  &.default,
  &.checkout  {
    color: $white;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    transition: $effectDuration;
  }

  &:hover {
    box-shadow: 0px 3px 13px 0px var(--btn-hover-shadow);
  }

  &.selected {
    color: var(--selected-text-color);
    background-color: var(--selected-btn-color);
    border: 1px solid var(--icons-color);
    transition: $effectDuration;
  }
}

.checkout {
  height: 48px;
  border-radius: 48px;
}
