@import '../../../styles/utils/variables';
@import '../../../styles/utils/typography';

.button {
  box-sizing: border-box;
  display: flex;

  width: 100%;

  font-family: $Mont;
  font-size: 14px;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  text-decoration: none;

  // background-color: $white;
  border-radius: 48px;

  transition: all 0.5s ease;

  &.default,
  &.checkout  {
    color: $white;
    background-color: $accent;
    border: 1px solid $accent;
  }

  &:hover {
    box-shadow: 0px 3px 13px 0px rgba(23, 32, 49, 0.4);
  }

  &.selected {
    color: $accent;
    background-color: $white;
    border: 1px solid $icons;
  }
}

.checkout {
  height: 48px;
  border-radius: 48px;
}
