@import './styles/utils/typography';
@import './styles/utils/variables';

html,
body {
  font-family: 'Mont', serif;

  background-color: $background-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
