@import './styles/utils/typography';
@import './styles/utils/variables';
@import './styles/utils/mixins';

html,
body {
  font-family: 'Mont', serif;
  background-color: $background-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1 1 auto;
}

.container {
  // padding: 0 24px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: $header-height-mobile;

  @include on-desktop {
    padding-top: $header-height-desktop;
  }
}
