@import './styles/utils/typography';

html,
body {
  font-family: 'Mont', serif;

  background-color: #e2e6e9;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1 1 auto;
}
