@import 'styles/utils/mixins';
@import 'styles/utils/variables';

.containers {
  margin-bottom: 64px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }
}

.title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 32px;
  color: var(--primary-color);
  transition: $effectDuration;

  @include on-tablet {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 48px;
  }

  @include on-desktop {
    margin-top: 56px;
    margin-bottom: 56px;
    font-size: 48px;
  }
}
